@import url("base.css");

/*
#087f8c
#86a873
#5aaa95
#bb9f06
*/
.col{
    height: 200px;
    margin-bottom: 20px;
}

#recipe_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h4{
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}

img {
    height: 175px;
    align-content: center;
}


    .col {
        width: 32%; /* (100 - 4)/3 */
        display: inline-block;
        font-size: 16px;
        margin-right: 2%;
    }


    .col:nth-of-type(2n) {
        margin-right: 2%;
    }

    .col:nth-of-type(3n) {
        margin-right: 0;
    }

